.container {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container * {
    cursor: url('/icons/cursorFlameRed.svg'), auto !important;
}

.h1Wrapper {
    color: var(--darkest-grey);
    text-align: center;
    margin-top: 30vh;
    line-height: 0.75;
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    transform-style: preserve-3d;
    will-change: transform;
}

.h1 {
    text-align: center;
}

.h4 {
    color: var(--darkest-grey);
    text-align: center;
    padding: 40px 70px;
    padding-bottom: 50px;
}

.servicesWrapper {
    width: calc(100vw - 140px);
    margin: 0 70px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    padding-bottom: 55vh;
    overflow: hidden;
}

.serviceSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.divider {
    width: auto;
    height: auto;
}

.animationContainer {
    width: 200px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: opacity 1s ease, visibility 1s ease, transform 0.5s ease;
}

.serviceSection:hover .animationContainer {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.drawingAnimation {
    width: auto;
    height: 15vw;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.number {
    transition: color 0.1s ease;
    color: var(--darkest-grey);
    padding-bottom: 4px;
}

.serviceSection:hover .number {
    color: var(--red-ribbon); 
}

.serviceTitle {
    transition: color 0.1s ease;
    color: var(--darkest-grey);
    padding-bottom: 16px;
}

.serviceSection:hover .serviceTitle {
    color: var(--red-ribbon); 
}

.description {
    color: var(--darkest-grey);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.serviceSection:hover .description {
    opacity: 1;
    visibility: visible;
}

/* Add this new class that mirrors all hover effects */
.hover .animationContainer,
.hover .description {
    opacity: 1;
    visibility: visible;
}

.hover .number,
.hover .serviceTitle {
    color: var(--red-ribbon);
}



/***************************** 
Adjustments for Larger Screens
*****************************/
@media (min-width: 1920px) {

    .h4 {
        padding: 40px 150px;
    }
    .servicesWrapper {
        width: calc(100vw - 300px);
        margin: 0 150px;
        gap: 30px;
    }




    .animationContainer {
        width: 250px;
    }
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
    .h1 {
        margin-top: 12vh;
        line-height: auto;
    }

    .h4 {
        /* max-width: 100vw; */
        padding: 32px 20px 60px 20px;
    }

    .servicesWrapper {
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        padding-bottom: 25vh;
    }

    .buttonRow {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
        padding-bottom: 40px;
        gap: 6px;
    }

    .button {
        flex: 1;
        background: white;
        border: 2px solid var(--red-ribbon);
        border-radius: 10px;
        color: var(--red-ribbon);
        padding: 8px 0;
        font-size: 16px;
        max-width: calc((100vw - 32px - (4 * 6px)) / 5);
    }

    .button.active {
        background: var(--red-ribbon);
        color: white;
    }

    .serviceSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .animationContainer {
        width: auto;
        height: 25vh;
        margin: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        padding-bottom: 16px;
    }

    .drawingAnimation {
        width: 100%;
        height: 100%;
    }

    .textContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .serviceTitle {
        color: var(--red-ribbon);
        padding-bottom: 16px;
    }

    .description {
        color: var(--darkest-grey);
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        text-align: center;
    }

}