.container {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heroSection {
    position: relative;
    width: 100%;
}

.imageWrapper {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.heroVideo {
    width: 100vw;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
        to top,
        #070707 0%,
        rgba(7, 7, 7, 0) 100%
    );
}

.content {
    position: absolute;
    bottom: 2%;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.h4 {
    color: white;
    text-align: center;
    max-width: 70vw;
    margin-bottom: 30px;
}

.arrowIcon {
    height: 20px;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--red-ribbon);
    border-radius: 15px;
    border: none;
    padding: 12px 25px;
    color: white;
    transition: transform 0.3s ease;
}

.button, .button * {
    cursor: var(--cursor-pointer-yellow), pointer;
}

.button:hover {
    transform: scale(1.1);
}

.button:hover .arrowIcon {
    animation: bounce 0.8s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/***************************** 
Adjustments for Larger Screens
*****************************/
@media (min-width: 1920px) {

    .content {
        bottom: 15%;
    }

    .h4 {
        padding: 0;
        max-width: 60vw;
        margin-bottom: 40px;
    }

    .arrowIcon {
        height: 25px;
        width: auto;
    }
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
    .heroVideo {
        height: 95vh;
        width: auto;    
    }

    .h4 {
        padding: 0 16px;
    }

    .button {
        border-radius: 10px;
        padding: 8px 16px;
    }

}
