.container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.heroSection {
    position: relative;
    width: 100%;
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.heroImage {
    width: 100vw;
    height: auto;
    display: block;
}

.heroVideo {
    width: 100vw;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(
        to top,
        #070707 0%,
        rgba(7, 7, 7, 0) 100%
    );
}


.content {
    position: absolute;
    bottom: 2%;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.h4 {
    color: white;
    text-align: center;
    padding: 0 200px;
    margin-bottom: 30px;
}

.arrowIcon {
    height: 20px;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--red-ribbon);
    border-radius: 15px;
    border: none;
    padding: 12px 25px;
    color: white;
    cursor: pointer !important;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.button:hover .arrowIcon {
    animation: bounce 0.8s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

