.marqueeWrapper {
    background-color: #070707;
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
}

.marqueeContent {
    display: flex;
    align-items: center;
}

.iconContainer {
    display: inline-flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 0 40px;
    width: auto;
}