.marqueeWrapper {
    background-color: #070707;
    width: 100%;
    padding: 0px 0 150px 0;
    overflow: hidden;
}

.marqueeContent {
    display: flex;
    align-items: center;
}

.iconContainer {
    display: inline-flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.icon {
    padding: 0 40px;
    width: auto;
}


/***************************** 
Adjustments for Larger Screens
*****************************/
@media (min-width: 1800px) {
    .marqueeWrapper {
        padding: 0px 0 150px 0;
    }
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
    .marqueeWrapper {
        padding: 8vh 0 15vh 0;
    }

    .iconContainer {
        height: 50px;
    }

    .icon {
        padding: 0 20px;
    }

}