.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageContainer {
position: relative;
width: 100vw;
height: 40vh;
overflow: hidden;
}

.image {
width: 100%;
height: 100%;
object-fit: cover;
}

.logo {
  height: 40px;
  width: auto;
  z-index: 2;
}


.clickableArea {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 5;
}

.clickableArea * {
  cursor: var(--cursor-pointer-yellow-filled), pointer !important;
}


.headlineContainer {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 2;
}

.h1 {
font-size: 4rem;
max-width: 700px;
margin: 0 auto;
color: white;
padding-top: 20vh
}

.emptyDiv {
height: 10vh;
}

.emptyDivTwo {
height: calc(10vh - 16px);
}

.textContainer {
width: 100vw;
border-radius: 20px 20px 0px 0px;
background-color: white;
margin-top: -20px;
z-index: 3;
}

.innerContainer {
  max-width: 700px;
  margin: 0 auto;
}


.h2 {
  padding-bottom: 16px;
}

.h3 {
  padding-bottom: 8px;
}


.body {
  padding-bottom: 20px;
}

.link {
  text-decoration: underline;
  cursor: var(--cursor-pointer-yellow-filled), pointer;
  transition: color 0.1s ease-in-out;
  border-radius: 4px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color:var(--broom);
  color: rgb(87, 88, 68);
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
  .imageContainer {
    height: 30vh;
    }
  
  .clickableArea {
    top: 20px;
    right: 20px;
  }
  
  .headlineContainer {
    height: 22vh;
  }
  
  .h1 {
    font-size: 3.25rem;
    padding-top: 10vh;
    padding-left: 20px;
    padding-right: 20px;
    hyphens: auto;
  }
  
  .h3 {
    padding-bottom: 12px;
  }

  .body {
    padding-bottom: 30px;
  }
  
  .emptyDiv {
    height: 5vh;
  }
  
  .emptyDivTwo {
    height: calc(5vh - 16px);
  }
  
  .textContainer {
    padding: 0 20px;
  }

  .innerContainer {
      max-width: none;
      margin: 0;
    }
  
}