.container {
    background-color: var(--grey);
    width: 100vw;
    height: 120vh;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    padding-top: 35vh;
}


.canvasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vh 12vw 0vh 10vw;
}


.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mockupWrapper {
    position: relative;
    width: 45vw;
    height: auto;
}

.mockup {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
}

.paper {
    position: absolute;
    width: 20vw;
    height: auto;
    top: 0;
    left: 0;
    margin-top: -5vw;
    margin-left: -9vw;
    z-index: 1;
}

.tools {
    position: absolute;
    width: 4vw;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 4vw;
    margin-left: -3.5vw;
    z-index: 2;
}

.palette {
    position: absolute;
    width: 7vw;
    height: auto;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin-bottom: 3vw;
    margin-right: -5.5vw;
  }

.drawingContainer {
    position: absolute;
    width: 41vw;
    height: 28.7vw;
    top: 48%; 
    left: 50%; 
    transform: translate(-50%, -48%); 
    z-index: 4;
    cursor: pointer;
}

.drawingContainer * {  /* This targets all elements inside textContainer */
    cursor: url('/icons/cursorDrawing.svg'), auto !important;
}

.reactSketchCanvas {
    border: none !important;
}

.drawingPrompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 5;
}

.drawingAnimation {
    width: auto;
    height: 15vw;
}


.iconContainer {
    position: absolute; 
    top: 12px; 
    right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5; 
}

.iconReset {
    width: 2.5vw; 
    height: 2.5vw; 
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;
    cursor: pointer !important;
    transition: all 0.3s ease;
}

.iconReset:hover{
    transform: scale(1.1);
}

.iconScreenshot {
    width: 2.5vw; 
    height: 2.5vw; 
    padding: 6px;
    background-color: rgba(245, 255, 0, 0.2);
    border-radius: 10px; 
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer !important;
    transition: all 0.3s ease;
}

.iconScreenshot:hover{
    transform: scale(1.1);
}

.bodyHighlighted {
    padding-top: 20px;
    font-weight: 600;
    text-align: center;
    max-width: 45vw;
}

.h1 {
    text-align: center;
}

.underline {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.SVG {
    display: block; 
    width: 100%; /* Ensures the SVG scales to fit the width of the parent */
    height: auto;
    fill: var(--broom);
}

.handschrift {
    text-align: center;
    transform: rotate(-1deg);
}

.smallSpace {
    font-size: 18px;
}

.arrow {
    margin-top: 20px;
}