.container {
    width: 100%;
    position: absolute;
    width: 41vw;
    height: 28.7vw;
    top: 48%; /* Position von oben */
    left: 50%; /* Horizontale Position */
    transform: translate(-50%, -48%); /* Zentrieren des DrawingBoards */
    z-index: 4;
}


.iconContainer {
    position: absolute;
    top: 12px; 
    right: 12px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    z-index: 5; 
}

.icon {
    width: 3.5vw; 
    height: auto; 
    margin-bottom: 0px;
    cursor: pointer; /* Zeigt an, dass die Icons klickbar sind */
}

