.bar {
    background-color: var(--darkest-grey);
    width: 100%;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 70px 70px;
  }

.column {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

.logoContainer {
  height: 30px;
  margin: 0px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo {
    height: 20px;
    width: auto;
}

.h4 {
  color: white !important;
  margin: 0px 0px 25px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.invisible {
  visibility: hidden;
}


.highlightedText {
    margin: 0; 
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.text {
    margin: 0; 
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column; /* Macht .item-Elemente zu vertikal angeordneten Kindern */
    gap: 6px;
  }

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


.icon {
    height: 19px;
    width: 19px;
    fill: var(--broom);
    margin-right: 8px;
  }



/***************************** 
Adjustments for larger screens
*****************************/

@media (min-width: 1520px) {
  .container {
    padding: 70px 120px;
  }

  .logoContainer {
    height: 30px;
  }

  .highlightedText {
    font-size: 1.15rem;
  }

  .text {
    font-size: 1.15rem;
  }

  .icon {
    height: 21px;
    width: 21px;
    margin-right: 12px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 80px 200px;
  }
}




/***************************** 
Adjustments for Mobile
*****************************/

@media (max-width: 767px) {
  .container {
    display: grid;  
    grid-template-columns: 1fr; /* Display a single column on smaller screens */
    padding: 50px 50px;
    row-gap: 40px;
  }

  .logoContainer {
    height: 25px;
    margin: 0px 0px 12px 0px;
  }

  .logo {
    height: 18px;
    width: auto;
  }

  .h4 {
    font-size: 1.125rem;
    margin: 0px 0px 12px 0px;
  }

  .content {
    gap: 4px;
  }

  .invisible {
    display: none;
  }

  .highlightedText {
    font-size: 0.95rem;
  }

  .text {
    font-size: 0.95rem;
    gap: 4px;
  }
  .icon {
    height: 18px;
    width: 18px;
    margin-right: 8px;
  }

}