.bar {
    background-color: var(--darkest-grey);
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 70px 70px;
  }

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.logoContainer {
  height: 30px;
  margin: 0px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logoContainer * {
  cursor: var(--cursor-pointer-yellow), pointer !important;
}

.logo {
    height: 20px;
    width: auto;
}

.h4 {
  color: white !important;
  margin: 0px 0px 25px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.invisible {
  visibility: hidden;
}

.highlightedText {
    margin: 0; 
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

.link {
  margin: 0; 
  font-family: var(--font-open-sans);
  font-weight: 600;
  font-size: 1rem;
  color: white;
  cursor: var(--cursor-pointer-yellow), pointer;
}

.link:hover {
  color: var(--broom);
}

.contactLink * {
  cursor: var(--cursor-pointer-yellow), pointer !important;
}

.text {
    margin: 0; 
    font-family: var(--font-open-sans);
    font-weight: 300;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column; 
    gap: 6px;
  }

  .animatedText {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.textWrapper {
    position: relative;
    display: inline-block;
}

.textWrapper span {
    display: inline-block;
}

.hoverText {
    position: absolute;
    top: 0;
    left: 0;
}

.hoverText span {
    display: inline-block;
    color: var(--broom);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.icon {
    height: 19px;
    width: 19px;
    fill: var(--broom);
    margin-right: 8px;
  }

.item:hover .icon {
    animation: rockIcon 1.5s ease-in-out;
}

@keyframes rockIcon {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}



/***************************** 
Adjustments for larger screens
*****************************/

@media (min-width: 1440px) {
  .container {
    padding: 70px 120px;
  }


  .highlightedText {
    font-size: 1.15rem;
  }

  .text {
    font-size: 1.15rem;
  }

  .icon {
    height: 21px;
    width: 21px;
    margin-right: 12px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 80px 200px;
  }
}




/***************************** 
Adjustments for Mobile
*****************************/

@media (max-width: 767px) {
  .container {
    display: grid;  
    grid-template-columns: 1fr; 
    padding: 50px 50px;
    gap: 40px;
  }

  .logoContainer {
    height: 25px;
    margin: 0px 0px 12px 0px;
  }

  .logo {
    height: 18px;
    width: auto;
  }

  .h4 {
    font-size: 1.125rem;
    margin: 0px 0px 12px 0px;
  }

  .content {
    gap: 4px;
  }

  .invisible {
    display: none;
  }

  .highlightedText {
    font-size: 0.95rem;
  }

  .text {
    font-size: 0.95rem;
    gap: 4px;
  }
  .icon {
    height: 18px;
    width: 18px;
    margin-right: 8px;
  }

}