:root {
  --background: #ffffff;
  --foreground: #171717;
  --broom: #F5FF00;
  --red-ribbon: #E4003E;
  --grey: #E9E9E9;
  --darkest-grey: #1D1E22;
}


html,
body {
  max-width: 100vw; 
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  overflow-x: clip;
  max-width: 100vw;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit; /* Links inherit color from parent */
  text-decoration: none; /* Remove underline from links */
}



/*****************************
Cursor
*****************************/


/* Define cursor URLs */
:root {
  --cursor-default: url('/icons/cursorFlame.svg');
  --cursor-flame-yellow: url('/icons/cursorFlameYellow.svg');
  --cursor-flame-red: url('/icons/cursorFlameRed.svg');
  --cursor-pointer-yellow: url('/icons/cursorPointerYellow.svg');
  --cursor-pointer-yellow-filled: url('/icons/cursorPointerYellowFilled.svg');
  --cursor-pointer-red: url('/icons/cursorPointerRed.svg');
}

/* Apply default cursor to all elements */
* {
  cursor: var(--cursor-default), auto;
}

/* Apply pointer cursor to clickable elements */
a, button, [role="button"], input[type="submit"], input[type="button"] {
  cursor: var(--cursor-pointer), pointer;
}



/***************************** 
Typography Desktop 
*****************************/

.h1 {
  font-family: 'Inter', bold;
  font-size: 6.25rem; /* 100px */
}

.h2 {
  font-family: 'Inter', bold;
  font-size: 2.75rem; /* 44px */
}

.h3 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.375rem; /* 22px */
}

h4 {
  font-family: 'Open Sans', semi-bold;
  font-size: 1.5rem; /* 24px */
  line-height: 1.25; /* 20px */
}

.subtitle {
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 1.5rem; /* 24px */
}

.subtitle-highlighted {
  font-family: 'Open Sans', semi-bold;
  font-size: 1.5rem; /* 24px */
}

.body {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1rem; /* 16px */
}

.body-light {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1rem; /* 16px */
}

.body-highlighted {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1rem; /* 16px */
}

.handschrift {
  font-family: 'Roel', regular;
  font-size: 2.125rem; /* 34px */
}

.handschrift-small {
  font-family: 'Roel';
  font-weight: 500;
  font-size: 1.5rem; /* 24px */
}

.numbers {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 5rem; /* 80px */
}

.numbers-small {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 3rem; /* 48px */
}

.button {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75; /* 28px */
}

.tag {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.875rem; /* 14px */
  line-height: 1.125; /* 18px */
}


/***************************** 
Typography Larger Screens 
*****************************/

@media (min-width: 1920px) {
  .h1 {
    font-size: 8rem; /* 128px */
  }

  .h2 {
    font-size: 4rem; /* 64px */
  }

  .h3 {
    font-size: 2rem; /* 32px */
  }

  .h4 {
    font-size: 1.75rem; /* 28px */
  }

  .subtitle {
    font-size: 2rem; /* 32px */
  } 

  .subtitle-highlighted {
    font-size: 2rem; /* 32px */
  }

  .body {
    font-size: 1.5rem; /* 24px */
  }

  .body-light {
    font-size: 1.5rem; /* 24px */
  }

  .body-highlighted {
    font-size: 1.5rem; /* 24px */
  }

  .handschrift {
    font-size: 3rem; /* 48px */
  }

  .handschrift-small {
    font-size: 2rem; /* 32px */
  }

  .numbers {
    font-size: 7.5rem; /* 120px */
  }

  .numbers-small {
    font-size: 4.5rem; /* 72px */
  }

  .button {
    font-size: 1.5rem; /* 24px */
  }

  .tag {
    font-size: 1rem; /* 16px */
  }
}



/***************************** 
Typography Mobile 
*****************************/

@media (max-width: 768px) {
  .h1 {
    font-family: 'Inter', bold;
    font-size: 2.75rem; /* 44px */
  }

 .h2 {
    font-family: 'Inter', bold;
    font-size: 2.5rem; /* 40px */
  }

  .h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
  }

  .h4 {
    font-family: 'Inter', semi-bold;
    font-size: 1rem; /* 16px */
  }

  .subtitle {
    font-family: 'Open Sans', regular;
    font-size: 1.25rem; /* 20px */
  }

  .subtitle-highlighted {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.25rem; /* 20px */
  }

  .body {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1rem; /* 16px */
  }

  .body-light {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1rem; /* 16px */
  }

  .body-highlighted {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1rem; /* 16px */
  }

  .body-small {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.8125rem; /* 13px */
  }

  .body-super-small {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 0.75rem; /* 12px */
  }

  .handschrift {
    font-family: 'Roel', regular;
    font-size: 1.25rem; /* 20px */
  }

  .handschrift-small {
    font-family: 'Roel', regular;
    font-size: 1.125rem; /* 18px */
  }

  .button {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.125rem; /* 18px */
  }

  .tag {
    font-family: 'Open Sans', semi-bold;
    font-size: 0.75rem; /* 12px */
  }
}