
.box {
  height: 100px;
}

.parallaxContainer {
  position: relative;
  background-color: var(--darkest-grey);
  margin-bottom: 0;
  padding-bottom: 0;
}

.headerContainer {
  position: sticky;
  width: 100%;
  z-index: 1;
  transform-style: preserve-3d; 
  will-change: transform;
}

.servicesContainer {
  position: sticky;
  z-index: 2; 
  width: 100%;
  transform-style: preserve-3d; 
  will-change: transform;
}

.numbersContainer {
  position: relative;
  z-index: 3;  
  width: 100%;
  margin-top: -40vh;
}

.casesHeadlineContainer {
  position: relative;
  z-index: 5;  
  cursor: none;
}

.casesOverviewContainer {
  position: sticky;
  z-index: 4;  
  transform-style: preserve-3d; 
  will-change: transform;
  margin-top: -50vh;
  margin-bottom: 0;
}

.casesContainer {
  position: relative;
  z-index: 6;  
}

.teamContainer {
  position: relative;
  z-index: 8;  
}

.creativityContainer {
  position: relative;
  z-index: 9;  
}

.contactContainer {
  position: relative;
  z-index: 10;  
  margin-bottom: 0;
  padding-bottom: 0;
}

.footerWrapper {
  background-color: var(--darkest-grey);
}

.footerContainer {
  position: sticky;
  z-index: 9;  
}


.main {
  display: flex;
  flex-direction: column;
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
  .numbersContainer {
    margin-top: -25vh;
  }

}

