.box {
  height: 100px;
}

.parallaxContainer {
  height: 400vh;
  position: relative;
}

.headerWrapper {
  position: sticky;
  width: 100%;
  z-index: 1;
}

.servicesContainer {
  position: relative;
  z-index: 2;  /* Higher z-index */
}


.main {
  display: flex;
  flex-direction: column;
}

