.box {
  height: 100px;
}

.parallaxContainer {
  height: 900vh;
  position: relative;
  background-color: var(--darkest-grey);
}

.headerContainer {
  position: sticky;
  width: 100%;
  z-index: 1;
}

.servicesContainer {
  position: sticky;
  z-index: 2; 
  width: 100%;
}

.numbersContainer {
  position: relative;
  z-index: 3;  
}


.main {
  display: flex;
  flex-direction: column;
}

