.wrapper {
    padding-top: 200px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .numbersContainer {
    z-index: 2;
}
  
  .testimonialsContainer {
    z-index: 1;
    margin-top: -13vh; 
  }