
.navbar {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    z-index: 100;
    transition: all 0.3s ease;
    border-radius: 15px;
    transform-style: preserve-3d;
}

.transparent {
    background: transparent;
}

.solid {
    background: rgba(7, 7, 7, 0.9);
    backdrop-filter: blur(10px);
    padding: 20px 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
}

.fixed {
    position: fixed;
}

.logo {
    height: 40px;
    cursor: var(--cursor-pointer-yellow), pointer;
    align-items: center;
    display: flex;
}

.logo svg {
    height: 18px;
    width: auto;
    cursor: var(--cursor-pointer-yellow), pointer;
}

.logo svg * {
    cursor: var(--cursor-pointer-yellow), pointer;
    pointer-events: all;
}



.navItems {
    display: flex;
    gap: 8px;
    background: rgba(35, 35, 35, 0.5);
    padding: 4px 4px;
    border-radius: 15px;
    cursor: var(--cursor-pointer-yellow), pointer;
}

.fixed .navItems {
    background: none;
    padding: 0px 0px;
    border-radius: 0px;
}

.button {
    background: transparent;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 14px 16px;
    position: relative;
    transition: all 0.2s ease;
}
    
.button, .button * {
    cursor: var(--cursor-pointer-yellow), pointer;
}


.button:not(:last-child):hover {
    background: rgba(245, 255, 0, 0.2);
}

.button.active {
    background: transparent;
    color: var(--broom);
}

.button:last-child {
    background: transparent;
    border: 1px solid var(--broom);
    color: var(--broom);
}

.button:last-child:hover {
    background: rgba(245, 255, 0, 0.2);
    color: var(--broom);
}

.animatedText {
    position: relative;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.1em; 
}

.textWrapper {
    position: relative;
    display: inline-block;
}

.textWrapper span {
    display: inline-block;
    line-height: 1.1em;
}

.hoverText {
    position: absolute;
    top: 0;
    left: 0;
}

.hoverText span {
    display: inline-block;
    color: var(--broom);
    line-height: 1.1em;
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
    .navbar {
        top: 0;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        padding: 30px 16px 20px 16px;
        margin: 0;
        background: rgba(35, 35, 35, 1);
        border-radius: 0px;
    }

    .logo {
        width: 53vw;
        height: auto;
        cursor: pointer;
        padding-bottom: 16px;
    }

    .navItems {
        background: none;
        padding: 0px;
        justify-content: space-between;
    }

    .button {
        padding: 6px 6px;
        border-radius: 10px;
    }

}