.container {
    position: relative;
    height: 500vh;
    

    .sticky {
        position: sticky;
        top: 0;
        height: 100vh;
        // background-color: rgb(19, 19, 19);
        background-image: url('/illustrations/gradient-darkest2.svg');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .element {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        //caseStudyHotelGrey (middle middle)
        .imageContainer {
            position: relative;
            width: 30vw;
            height: 30vh;

            img {
                object-fit: cover;
                // border-radius: 0px;
            }
        }

        // caseStudyMagazineKid (top middle)
        &:nth-of-type(2) {
            .imageContainer {
                top: -34vh;
                left: 5vw;
                width: 40vw;
                height: 33vh;
            }
        }

        // caseStudyAbstractShape (middle left)
        &:nth-of-type(3) {
            .imageContainer {
                top: -12.5vh;
                left: -27.5vw;
                width: 22.5vw;
                height: 55vh;
            }
        }

        // caseStudyCat (middle right)
        &:nth-of-type(4) {
            .imageContainer {
                left: 27.5vw;
                width: 22.5vw;
                height: 30vh;
            }
        }

        // caseStudyBanners (bottom middle)
        &:nth-of-type(5) {
            .imageContainer {
                top: 30vh;
                left: 7.5vw;
                width: 25vw;
                height: 25vh;
            }
        }

        // caseStudyWall (bottom left)
        &:nth-of-type(6) {
            .imageContainer {
                top: 35vh;
                left: -20vw;
                width: 27.5vw;
                height: 35vh;
            }
        }

        // caseStudyDesignTable (bottom right)
        &:nth-of-type(7) {
            .imageContainer {
                top: 25vh;
                left: 29vw;
                width: 15vw;
                height: 15vh;
            }
        }

        // caseStudyHotelBrown (top right)
        &:nth-of-type(8) {
            .imageContainer {
                top: -27.5vh;
                left: 31vw;
                width: 10vw;
                height: 20vh;
            }
        }
    }

  }


  /*****************************   
  Adjustments for Mobile
  *****************************/
  @media (max-width: 768px) {

    .container {

        // caseStudyMagazineKid (top middle)
        .element:nth-of-type(2) {
            .imageContainer {
                top: -33vh;

            }
        }

        // caseStudyAbstractShape (middle left)
        .element:nth-of-type(3) {
            .imageContainer {
                left: -29.5vw;
            }
        }

        // caseStudyCat (middle right)
        .element:nth-of-type(4) {
            .imageContainer {
                left: 28.5vw;
            }
        }

        // caseStudyBanners (bottom middle)
        .element:nth-of-type(5) {
            .imageContainer {
                top: 29vh;
            }
        }

        // caseStudyWall (bottom left)
        .element:nth-of-type(6) {
            .imageContainer {
                top: 34vh;
                left: -21vw;
            }
        }

        // caseStudyDesignTable (bottom right)
        .element:nth-of-type(7) {
            .imageContainer {
                top: 24vh;
                left: 30vw;
            }
        }

        // caseStudyHotelBrown (top right)
        .element:nth-of-type(8) {
            .imageContainer {
                top: -26.5vh;
                left: 32vw;
            }
        }
    }


  }