  .outerContainer {
    position: relative;
    height: 500vh;
  }
  
  .overviewContainer {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr; 
    grid-template-rows: 1fr 1.5fr 1fr;
    gap: 10px; 
    width: 100vw;
    height: 100vh;
    background-color: var(--darkest-grey);
    transform-origin: center center;
  }
  
  .imageContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
  }
  