.container {
    background-color: var(--darkest-grey);
    // background-image: radial-gradient(circle at 30% 30%, 
    //                   hsla(347.8, 84.83%, 28.43%, 1) 0%, 
    //                   hsla(18, 66.67%, 5.88%, 1) 50%), 
    //                   radial-gradient(circle at 70% 70%, 
    //                   hsla(11.62, 98.77%, 68.24%, 1) 0%, 
    //                   hsla(313.43, 63.81%, 79.41%, 1) 50%), 
    //                   radial-gradient(circle at 50% 50%, 
    //                   hsla(246.99, 52.82%, 38.24%, 1) 0%, 
    //                   hsla(215.04, 79.62%, 30.78%, 1) 50%), 
    //                   conic-gradient(from 275deg at 77% 52%, 
    //                   hsla(55.52, 97.1%, 86.47%, 1) 5%, 
    //                   hsla(215.04, 79.62%, 30.78%, 1) 80%), 
    //                   repeating-linear-gradient(160deg, 
    //                   #ac0e2e 52%, 
    //                   #c0b7ff 86%);
    width: 100vw;
    height: 140vh;
    border-radius: 20px 20px 0 0;

    .body, .mask {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: var(--cursor-pointer-yellow), pointer;
    }
}

.mask {
    position: absolute;
    mask-image: url('/illustrations/mask.svg');
    background: yellow;
    mask-repeat: no-repeat;
    mask-size: 40px;
}


.h1 {
    color: white;
    text-align: center;
    cursor: none;
}

.h1Mask {
    color: black;
    text-align: center;
    cursor: none;
}


.underline {
    display: inline-block;
    cursor: none;
}

.SVG {
    display: block; 
    width: 100%;
    height: auto;
    fill: var(--broom);
    cursor: none;
}

.SVGMask {
    display: block;
    width: 100%; 
    height: auto;
    fill: white;
    cursor: none;
}


/***************************** 
Adjustments for Mobile
*****************************/
@media (max-width: 768px) {
    .container {
        height: 110vh;
        padding: 0 4px;
        overflow: hidden;
    }

    .h1, .h1Mask {
        margin: 0; 
        max-width: calc(100% - 8px);
    }

    .underline {
        position: relative;
    }
    
    .SVG {
        position: absolute; 
        bottom: -8px;
        left: 0;
    }
  
  }