.container {
    background-color: var(--darkest-grey);
    width: 100vw;
    height: 150vh;
    border-radius: 20px 20px 0 0;

    .body, .mask {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: default;
    }
}

.mask {
    position: absolute;
    mask-image: url('/illustrations/mask.svg');
    background: yellow;
    mask-repeat: no-repeat;
    mask-size: 40px;
}


.h1 {
    color: white;
    text-align: center;
    cursor: none;
}

.h1Mask {
    color: black;
    text-align: center;
    cursor: none;
}


.underline {
    display: inline-block;
    cursor: none;
}

.SVG {
    display: block; 
    width: 100%; /* Ensures the SVG scales to fit the width of the parent */
    height: auto;
    fill: var(--broom);
    cursor: none;
}

.SVGMask {
    display: block; 
    width: 100%; 
    height: auto;
    fill: white;
    cursor: none;
}