.outerContainer {
    position: relative;
    height: 500vh;
}

.stickyWrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
}


.paginationWrapper {
    position: absolute; 
    top: 0px;
    right: 0px;
    z-index: 10; 
    /* outline: 2px solid red; */
    pointer-events: none;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 30px;
    padding-right: 30px;
    gap: 4px;
    pointer-events: auto; /* Erlaubt Interaktionen */
}

.dotContainer {
    position: relative;
    width: 20px;
    height: 20px;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.activeDot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--red-ribbon);
}

.casesContainer {
    z-index: 1; 
    width: 100%; 
    height: 500vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.textWrapper {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: 9;
    /* outline: 2px solid green; */
}


.overlay {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 52vw;
    height: 40vh;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)), rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 0 20px 0 0;
}

/* .overlay {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45vh;
    background: linear-gradient(
        to top,
        var(--darkest-grey) 0%,
        rgba(29, 30, 34, 0.7) 45%,
        rgba(29, 30, 34, 0) 100%
    );
} */

.textContainer {
    position: absolute;
    bottom: 70px;
    left: 70px;
    max-width: 45vw;
    z-index: 4;
}

.h2 {
    color: var(--darkest-grey);
    /* color: white; */
    padding-bottom: 20px;
}

.subtitle {
    color: var(--darkest-grey);
    /* color: white; */
    padding-bottom: 25px;
}

.tagRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tag {
    color: white;
    background-color: var(--red-ribbon);
    /* color: var(--red-ribbon); */
    /* background-color:rgba(228, 0, 62, 0.2); */
    padding: 6px 16px;
    border-radius: 100px;
}

.emptyContainer {
    height: 50px;
    width: 100%;
    background-color: var(--darkest-grey);
}