.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 45%;
    background: linear-gradient(
        to top,
        var(--darkest-grey) 0%,
        rgba(0, 0, 0, 0.95) 45%,
        rgba(0, 0, 0, 0) 100%
    );
}

.textContainer {
    position: absolute;
    bottom: 70px;
    left: 70px;
    max-width: 50vw;
    z-index: 3;
}

.h2 {
    color: white;
    padding-bottom: 25px;
}

.subtitle {
    color: white;
    padding-bottom: 25px;
}

.tagRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tag {
    color: var(--red-ribbon);
    background-color:rgba(228, 0, 62, 0.2);
    padding: 6px 16px;
    border-radius: 100px;
}